{{template "partials/header" .}}
<form action="/addnote" id="confirmationForm" name="confirmationForm" method="post">
<div class="form-group" style=""><label>Your response:</label><textarea class="form-control" style="height: 131px;" name="confirmationText" id="confirmationText"  form="confirmationForm"></textarea></div>
<p>

<button type="submit" class="btn btn-success" style="float: right;" href="/addnote" type="submit">Добавить</button>

</form>
</p>
</br></br>


{{template "partials/footer" .}}