<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{.Title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/ui/html/static/css/editor.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/ui/html/static/css/narrow-jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
          
            <li class="nav-item">
              <a class="nav-link" href="/">Главная<span class="sr-only"></span></a>
            </li>
            {{if .isLogged}}
            <li class="nav-item">
              <a class="nav-link" href="/add">Добавить заметку</a>
            </li>
            {{end}}
            
            {{if not .isLogged}}
            <li class="nav-item">
              <a class="nav-link" href="/register">Регистрация</a>
            </li>
            {{end}}
            
            
          </ul>
        </nav>
        <h3 class="text-muted">Заметки</h3>
      </div>
{{if .isLogged}}
<div class="alert alert-info" role="alert">
 Привет, {{.username}} <a class="btn btn-outline-info btn-sm float-right" role="button" href="/logout">Выйти</a>
</div>

 {{else}}
 <form action="/login" class="form-inline" method="post">
  <div class="form-group mb-2">
      <label for="login">Логин:&nbsp;&nbsp;&nbsp;</label>
      <input type="login" class="form-control" id="login" name="login" placeholder="Введите логин">
  </div>
  <div class="form-group mx-sm-3 mb-2">
      <label for="password">Пароль:&nbsp;&nbsp;&nbsp;</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Войти</button>
</form>  
{{end}}